
<h1>Add a New Creature</h1>
<form method="POST" action="/creatures">
    <label for="creatureTypeInput">New Creature Type:</label>
    <input id="creatureTypeInput" type="text" name="type">
    <br>
    <br>
    <label for="creatureImgInput">New Creature Img URL:</label>
    <input id="creatureImgInput" type="text" name="img_url">
    <button type="submit">Add New Creature</button>
</form>
<br>
<a href="/creatures">Return to Creatures List</a>