
<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by name:</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <button type="submit">Filter</button>
</form>

<ul>
    <% myDinos.forEach(function(dino,index){%>
        <li>
            <%=dino.name%> is a <%=dino.type%>
            <a href="/dinosaurs/edit/<%=index%>">Edit</a>
            <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </li>
    <%})%>
</ul>

<br>
<br>
<li><a href="/dinosaurs/new">Add New Dinosaur</a></li>
<li><a href="/">Return Home</a></li>