<form method="POST" action="/dinosaurs">
    
    <label for="nameInput">Dinosaur Name:</label>
    <input id="nameInput" type="text" name="name">

    <label for="typeInput">Dinosaur Type:</label>
    <input id="typeInput" type="text" name="type">

    <!-- <input type="submit"> -->
    <button type="submit">Add a Dino!</button>
</form>
<br>
<a href="/dinosaurs">Return to Dinosaur List</a>